
body {
    font-family: sans-serif;
    background-image: url()
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 20%, 80%;
    width: 720px;
    margin: auto;
}
@media only screen and (max-device-width: 400px) {
    body {
        background-color: teal
    }
}