body {
  margin: 0;
  font-family: "Lato", sans-serif; }

.code {
  font-family: monospace; }

ul {
  list-style-type: none; }

.container {
  display: grid;
  grid-template-rows: 95vh, 5vh;
  height: auto;
  width: 60vw;
  margin: auto; }

header {
  height: 270px;
  width: 100vw;
  background-size: 100vw;
  background-repeat: no-repeat;
  padding: 0;
  background-image: url(../img/slutheaderL.png); }

body {
  transition: background-color .2s; }

.menu {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }

.menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.menu a:hover {
  color: #f1f1f1; }

.menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

main {
  transition: margin-left .2s; }

@media screen and (max-height: 480px) {
  .menu {
    padding-top: 15px; }

  .menu a {
    font-size: 18px; } }
/* 
  ##Device = Tablets, Ipads (portrait)
*/
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  header {
    height: 108px;
    width: 100vw;
    background-size: 100vw;
    background-repeat: no-repeat;
    padding: 0;
    background-image: url(../img/slutheaderM.png); }

  .container {
    width: 80vw; } }
/*
  ##Device = Phones
*/
@media only screen and (max-device-width: 480px) {
  header {
    height: 68px;
    width: 100vw;
    background-size: 100vw;
    background-repeat: no-repeat;
    padding: 0;
    background-image: url(../img/slutheaderS.png); }

  .container {
    width: 100vw; } }
