/* 
  ##Device = Tablets, Ipads (portrait)
*/
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
    header{
        height: 108px;
        width: 100vw;
        background-size: 100vw;
        background-repeat: no-repeat;
        padding: 0;
        background-image: url(../img/slutheaderM.png);
    }
    .container {
        width: 80vw;
    }
    

}

/*
  ##Device = Phones
*/
@media only screen and (max-device-width: 480px) {
    
    header{
        height: 68px;
        width: 100vw;
        background-size: 100vw;
        background-repeat: no-repeat;
        padding: 0;
        background-image: url(../img/slutheaderS.png);
    }
    .container {
        width: 100vw;
    }

}

