.container {
    display: grid;
    grid-template-rows: 95vh, 5vh;
    height: auto;
    width: 60vw;
    margin: auto;
}
header{
    height: 270px;
    width: 100vw;
    background-size: 100vw;
    background-repeat: no-repeat;
    padding: 0;
    background-image: url(../img/slutheaderL.png);
}
