<h1> Bildbehandling, vad är det och hur används det? </h1>
<h2> Vad och varför? </h2>
<p>Bildbehandling är en stor del av betyget och går ut på att behandla bilder på ett icke destruktivt sätt med hjälp av lagermasker. Detta är så att man aldrig "förlorar" någonting i bilden utan endast döljer det.</p>
<h2> Hur? </h2>
<p>Genom att välja allting man vill ta bort kan man sedan klicka enre i högra hörn på vad som ser ut som japans flagga för att maskera resten. För att uppnå ett A behöver du dock behandla bilden i flera steg vilket innebär FLER LAGER, man kan alltid ha fler, nedan ser du ett exempel på en bild med 10 olika lager.</p>
<h2>Exempel:</h2>
<img class=bild src="img/exempel.jpg" alt="galet exempel" >