<h1 class=gridtitel> CSS Grids, vad är det och hur används det? </h1>
<h2> Vad och varför? </h2>
<p>CSS Grids används för att strukturera och lägga upp en hemsida. Ett grid system låter dig lägga upp en layout på ett simpelt sätt. Genom att ha gridsystem inom gridsystem kan du finjustera och lägga upp din sida hur du än vill.</p>
<h2> Hur? </h2>
<p>För att ge ett område ett gridsystem måste du först välja var det ska vara (i exemplet är det i main), sedan skriva:</p>
<code>Display: grid;</code>
<p>Där efter behöver du bestämma storleken på rutorna genom att sätta ut rader och kolumner. Dessa kan defineras utifrån olika saker men de tre vanligaste är: Fractions, % eller px. <br> I exemplet nedan ser du ett enkelt gridsystem som är skrivet så här: </p>
<code>main {<br>
    display:grid;<br>
    grid-template-rows: 1fr,1fr,1fr;<br>
    grid-template-columns: 1fr, 1fr;<br>
    height: 360px;<br>
}
</code>

<h2>Exempel:</h2>
<a href="https://gyazo.com/ae6923e907ea7b6c84c9e42de3d68a65"><img src="https://i.gyazo.com/ae6923e907ea7b6c84c9e42de3d68a65.png" alt="https://gyazo.com/ae6923e907ea7b6c84c9e42de3d68a65" width="320"/></a>