<h1> Javascript, vad är det och hur används det? </h1>
<h2> Vad och varför? </h2>
<p>Java scrips används för att ge din hemsida olika funktioner som till exempel min legendariska hamburar meny.</p>
<h2> Hur? </h2>
<p>Föra att få ett A behöver du inte kunna skriva js, du behöver endast kunna klippa in någon annans kod och modifiera den så att den fungerar med din hemsida.
<h2>Exempel:</h2>
<a href=https://gist.github.com/itggot-david-lundholm/9a296f8c2a5584fc9729813c8d7ec569> Class toggle exempel</a>