<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Webguide</title>
</head>
<body>
        <header>
                <nav>
                   <a href="start.html">Home</a>
                   <a href="page1.html">Stasis</a>
                   <a href="page2.html">Adaptiv</a>
                   <a href="page3.html">Java Script</a>
                   <a href="page4.html">Bildbehandling</a> 
                   <a href="page5.html">CSS Spread</a>
                   <a href="page6.html">Minifier</a>  
                </nav>
            </header>
    <div class=container>
        
        <main>
            <%= yield %>
        </main>
        <footer></footer>
    </div>
</body>
</html>