<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Webguide</title>
</head>
<body>
        <header>
                <div id= "myMenu" class="menu">
                   <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    <ul>
                        <li><a href="start.html">Home</a></li>
                        <li><a href="grid.html">Grid</a></li>
                        <li><a href="adaptiv.html">Adaptiv</a></li>
                        <li><a href="stasis.html">Stasis</a></li>
                        <li><a href="js.html">Java Script</a></li>
                        <li><a href="bild.html">Bildbehandling</a></li>
                        <li><a href="csss.html">CSS Spread</a></li>
                        <li><a href="mini.html">Minifier</a></li>  
                    </ul>
                </div>
                <span style="font-size:48px;cursor:pointer" onclick="openNav()">&#9776; </span>
                <script src="js/menu.js"></script>
            </header>
    <div id= "main" class=container>
        <main>
            <%= yield %>
        </main>
        <footer></footer>
    </div>
</body>
</html>