<h1> (A)minify, vad är det och hur används det? </h1>
<h2> Vad och varför? </h2>
<p>Minify är ett program som tar all din kod och komprimerar den så att man överför mindre data. Den tar alla namn och gör om de till kortare namn som endast den kan förstå. 
<h2> Hur? </h2>
<p> I terminalen kör: <br> </p> <code>gem install uglifier <br> gem install cssminify <br></code> <p> lägg in <a href=https://drive.google.com/open?id=1Ta_HtvacWmJmv-17O73Jr7yCq2okC8NY&authuser=0 >denna</a> filen i din site-mapp och till sist skriver du till i din controller fil:<br> </p><code>ignore 'minify.rb'<br></code>
<p>För att sedan köra stasis & minifiera filerna, kör: <br></p>
<code>stasis && ruby minify.rb</code>
<h1><br><br> Grattis! Du kan nu få A i webbutveckling! DONT FORGET: SLIPPY SEE'S ALL</h1>